$primary: #000000;
$secondary: #B4B4B8;
$secondary1: #7F27FF;
$secondary2: #fff;

.footer {
    background-color: $primary;
    hr {
        margin: 0 10px;
    }
    .footer-menu {
        display: flex;
        a, p {
            color: $secondary;
            margin: 3px 20px;
            text-decoration: none;
            padding: 15px 10px;     
        }
        a:hover {
            color: $secondary1;
        }
    }
    .footer-content {
        color: $secondary;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: start;
        margin: 5px 20px;
        padding: 40px 0;        
        div {
            width: 280px;
            height: 170px;
            display: flex;
            flex-direction: column;
            border-right: solid $secondary 1px;
            a {
                color: $secondary;
                text-decoration: none;
                padding: 7px;
            }
            a:hover{
                transition: ease 0.3s;
                margin-left: 20px;
                color: $secondary1;
            }
            p, h4 {
                font-size: 0.8rem;
                padding: 7px 0;
            }
            h2 {
                color: $secondary2;
            }
        }
        div:nth-last-child(1) {
            border: none;
        }
    }
    .footer-copyright {
        color: $secondary;
        margin: 5px 20px 0 20px;
        padding: 5px 0;
        #name {
            color: $secondary1;
            display: inline;
        }
    }
}